.about__achievements{
    margin-top: 3rem;
}

.about__achievements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__achievements-right > p{
 margin: 1.6rem 0 2.5rem;
}

.achievements__cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievement__card{
    background-color: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    /*my own height thing*/
    height: 188px;
    transition: var(--transition);
}

.achievement__card:hover{
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3) ;
}

.achievement__icon{
    background: var(--color-danger);
    padding:0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.achievement__card:nth-child(2) .achievement__icon{
    background: var(--color-success);
}

.achievement__card:nth-child(3) .achievement__icon{
    background: var(--color-primary);
}
.achievement__card p{
    margin-top: 0.1rem;
}

.pcard{
    visibility: hidden;
}

.ethoss{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}

.ethos{
   width: 100%;
    padding:78px 0px;
    background-color: #191919;
}

.ethos img{
   height:auto;
   width:420px;
}

.about-text{
    width:550px;
}

.main-ethos{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}


.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.ethosh{
    color: #f9004d;
}

.about-text p{
    color: #fcfc;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    letter-spacing: 1px;
}
.ethos-button{
 background: #f9004d;
 color: white;
 text-decoration: none;
 border: 2px solid transparent;
 font-weight: bold;
 padding:13px 30px;
 border-radius: 30px;
 transition: .4s;

}

.ethos-button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}




/*media queries*/
@media screen and (max-width:1024px){
    .about__achievements{
        margin-top: 2rem;
    }
    .about__achievements-container{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .about__achievements-left{
        width: 80%;
        margin: 0 auto;
    }

   
}


/*phones*/
@media screen and (max-width:600px) {
    .achievements__cards{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .pcard{
        visibility: visible;
    }
}

